body {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.appHeader {
    width: 100%;
    height: 64px;
    background-color: #f7f7f7;
}

.appHeaderBorder {
    width: 100%;
    height: 1px;
    background-color: #4f4f4f;
}

.appHeaderTitle {
    position : absolute;
    left: 0px;
    top: 20px;
    width: 100%;
    height: 44px;
    font-family:'Hiragino Kaku Gothic Pro','Meiryo';
    font-size:18px;
    font-weight:normal;
    color:#4f4f4f;
    text-align:center;
    line-height: 44px;
    vertical-align: middle;
}

.appHeaderBackButton {
    position : absolute;
    left: 0px;
    top: 20px;
    width: 100%;
    height: 44px;
    font-family:'Hiragino Kaku Gothic Pro','Meiryo';
    font-size:18px;
    font-weight:normal;
    text-align:left;
    line-height: 44px;
    vertical-align: middle;
}

.linkBackButtonText {
    text-decoration: none;
}

.latestAndAverageTitleText {
    font-family:'Hiragino Kaku Gothic Pro','Meiryo';
    font-size:18px;
    font-weight:normal;
    color:#4f4f4f;
}

.latestTitle {
    position : absolute;
    left: 0px;
    top: 80px;
    width: 100%;
    height: 25px;
    text-align:center;
    line-height: 25px;
    vertical-align: middle;
}

.averageTitle {
    position : absolute;
    left: 0px;
    top: 220px;
    width: 100%;
    height: 25px;
    text-align:center;
    line-height: 25px;
    vertical-align: middle;
}

.fuelValueText {
    font-family:'Hiragino Kaku Gothic Pro','Meiryo';
    font-size:80px;
    font-weight:normal;
    color:#4f4f4f;
}

.fuelUnitText {
    font-family:'Hiragino Kaku Gothic Pro','Meiryo';
    font-size:18px;
    font-weight:normal;
    color:#4f4f4f;
}

.latestValue {
    position : absolute;
    left: 0px;
    top: 115px;
    width: 100%;
    height: 80px;
    text-align:center;
    line-height: 80px;
    vertical-align: bottom;
}

.averageValue {
    position : absolute;
    left: 0px;
    top: 255px;
    width: 100%;
    height: 80px;
    text-align:center;
    line-height: 80px;
    vertical-align: bottom;
}

.addButtonParent {
    position : absolute;
    left: 0px;
    top: 400px;
    width: 100%;
    height: 48px;
}

.historyButtonParent {
    position : absolute;
    left: 0px;
    top: 470px;
    width: 100%;
    height: 48px;
}

.addHistoryButton {
    width: 128px;
    height: 48px;
    border: 2px solid #4f4f4f;
    border-radius: 10px;
    margin: auto;
}

.addHistoryButtonText {
    width: 100%;
    height: 48px;
    font-family:'Hiragino Kaku Gothic Pro','Meiryo';
    font-size:18px;
    font-weight:normal;
    color:#4f4f4f;
    text-align:center;
    line-height: 48px;
    vertical-align: middle;
}

.linkButtonText {
    text-decoration: none;
    color:#4f4f4f;
}

/* 履歴画面 */
.historyCell {
    width: 100%;
    height: 72px;
    background-color: #ffffff;
}

.historyCellColl1 {
    width: 100%;
    height: 42px;
    font-family:'Hiragino Kaku Gothic Pro','Meiryo';
    font-size:22px;
    font-weight:normal;
    color:#4f4f4f;
    line-height: 42px;
    vertical-align: middle;
}

.historyCellColl2 {
    width: 100%;
    height: 30px;
    font-family:'Hiragino Kaku Gothic Pro','Meiryo';
    font-size:14px;
    font-weight:normal;
    color:#4f4f4f;
    line-height: 30px;
    vertical-align: middle;
}

.historyTextFuelRate {
    text-align:right;
}

.historyTextFuel {
    text-align:center;
}

.historyTextPrice {
    text-align:right;
}

/* 入力画面 */
.addInputForm {
    width: 95%;
    height: 52px;
    border:0;
    padding:10px;
    outline: none;
    text-align:right;
}

.addInputFormFuelNumber {
    width: 77%;
    height: 52px;
    border:0;
    padding:10px;
    outline: none;
    text-align:right;
}

.addInputFormFuelDecimal {
    width: 8%;
    height: 52px;
    border:0;
    padding:10px;
    outline: none;
    text-align:right;
}

.addInputFormText {
    font-size:18px;
    font-family:'Hiragino Kaku Gothic Pro','Meiryo';
    color:#4f4f4f;
}

.addSubmitButtonParent {
    text-align:center;
    vertical-align: middle;
}

.addSubmitButton {
    width: 128px;
    height: 48px;
    border: 2px solid #4f4f4f;
    border-radius: 10px;
    background-color: #ffffff;
    margin-top : 20px;
}

/* 車一覧 */
.carlistCellColl {
    position : absolute;
    left: 5%;
    width: 90%;
    height: 72px;
    font-family:'Hiragino Kaku Gothic Pro','Meiryo';
    font-size:22px;
    font-weight:normal;
    color:#4f4f4f;
    line-height: 72px;
    align: center;
    vertical-align: middle;
    text-align:left;
}
